{
  "APP_ENV": "example",
  "NEXT_PUBLIC_API_URL": "******",
  "NEXTAUTH_URL":"******",
  "NEXTAUTH_SECRET": "******",
  "GOOGLE_ID":"******",
  "GOOGLE_SECRET":"******",
  "SECRET_TOKEN": "******",
  "DATABASE_URL": "******",
  "NEXT_PUBLIC_DEFAULT_VOLUMES": 50,
  "NEXT_PUBLIC_DEFAULT_LIMIT": 50
}
